<header class="header">
  <div class="container">
    <div class="navbar d-flex py-4">
        <button type="button" class="btn btn-link p-0">
            <img src="../assets/images/icon-setting.svg" alt="setting-icon" />
          </button>
          <time datetime="2024-07-24" class="fs-3 fw-semibold text-neutral-800">7月24日</time>
          <button type="button" class="btn btn-link p-0">
            <img src="../assets/images/icon-notice.svg" alt="notice-icon" />
          </button>
    </div>
  </div>
</header>
