.calender-header,.calendar-footer,.calender {
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    background-color: $primary;
    border-radius: 30px;
    color: $white;
  }
  .nav-link {
    color: $gray-800;
  }
}
