.signin {
  &-message-text {
    margin-bottom: 22px;
  }
  &-section-space {
    margin-bottom: 21px;
  }
  .btn-purple-100 {
    color: #4f4f4f;
    &:hover,
    &:active,
    &:focus {
      background: #f2f3fb;
      border-color: transparent;
    }
  }
  &-light {
    .btn-purple-100 {
      padding-right: 61.75px;
      padding-left: 61.75px;
      &:hover,
      &:active,
      &:focus {
        background: #f37998;
        color: #ffffff;
        border-color: transparent;
      }
    }
  }
  &-quest-checkbox {
    padding-top: 19px;
    padding-bottom: 24px;
  }
  &-header-text {
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 19px;
  }
  &-modal-btn {
    width: 50%;
    padding-top: 28px;
    padding-bottom: 28px;
    border-width: 0;
  }
  &-border-right {
    border-right: 1px solid #6d6d6d;
    &:hover {
      border-color: #6d6d6d;
    }
  }
  .btn-pink-400 {
    color: #ffffff;
    &:hover,
    &:active,
    &:focus {
      background: #f8a9bb;
      color: #ffffff;
      border-color: transparent;
    }
  }
  .form-check-input {
    border-width: 0px;
    background-color: #e7e9f8;
    &:checked {
      background-color: #fbd0da;
    }
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }
  .form-switch {
    padding-left: 0;
  }
  .modal-body {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
